* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:gainsboro;
}

div.container {
    width: 25%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.2rem;
    background-color: transparent;
/*    background-color: rgb(75,76,75);*/
    border-radius: 0.5rem;
}

h1 {
    color: yellow;
    margin: 0.6rem;
}

p {
    width: 50%;
    text-align:center;
    padding: 0.3rem;
    margin: 0.6rem;
    color: yellow;
    background-color: rgb(127,128,129);
    border-radius: 0.25rem;

}

 p:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: black;
/*    background-color: rgb(227,228,231);  */
} 

p#red:hover {
    background-color: #fb3640;
}

p#yellow:hover {
    background-color: #ffdf6b;
}

p#blue:hover {
    background-color: #3d84b8;
}

p#green:hover {
    background-color: #4aa96c;
}

p#reset:hover {
    background-color: rgb(227,228,231);
}

@media(max-width: 800px) {
    div {
        width: 60vw;
    }
}

@media(max-width: 600px) {
    .container {
        width: 75vw;
    }
}

@media(max-width: 400px) {
    .container {
        width: 90vw;
    }
}
